/* global css variable */
$primary-color: var(--el-color-primary);
$frist-menu-border: #b7b8c1;
$second-menu-border: #dbdce1;
$three-menu-border: #c3c5cc;
$hove-button: #dfe7fe;
$hover-button-border: #d2d3d8;